@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cursos";
}

<!--Carrossel Cursos-->
<div id="carouselCursos" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselCursos" data-slide-to="0" class="active"></li>
        <li data-target="#carouselCursos" data-slide-to="1"></li>
        <li data-target="#carouselCursos" data-slide-to="2"></li>
        <li data-target="#carouselCursos" data-slide-to="3"></li>
        <li data-target="#carouselCursos" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="img-fluid w-100 d-block" src="~/Content/Images/Logos_20-_20Biblioteca.png" />
            <div class="carousel-caption">
                <h1>Teologia Ministerial</h1>
                <p>O curso de Teologia Ministerial tem o objetivo de preparar líderes para a igreja local.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="img-fluid w-100 d-block" src="~/Content/Images/Logos_20-_20Biblioteca.png" />
            <div class="carousel-caption d-none d-md-block">
                <h1>Música Sacra</h1>
                <p>O curso de música tem o objetivo de preparar líderes na área de música para a igreja local.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="img-fluid w-100 d-block" src="~/Content/Images/Logos_20-_20Biblioteca.png" />
            <div class="carousel-caption d-none d-md-block">
                <h1>Master of Ministry</h1>
                <p>O curso de música tem o objetivo de preparar líderes para a igreja local.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="img-fluid w-100 d-block" src="~/Content/Images/Logos_20-_20Biblioteca.png" />
            <div class="carousel-caption d-none d-md-block">
                <h1>Educação Cristã</h1>
                <p>O curso de música tem o objetivo de preparar líderes para a igreja local.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="img-fluid w-100 d-block" src="~/Content/Images/Logos_20-_20Biblioteca.png" />
            <div class="carousel-caption d-none d-md-block">
                <h1>Missões</h1>
                <p>O curso de música tem o objetivo de preparar líderes para a igreja local.</p>
            </div>
        </div>
    </div>
    <a href="#carouselCursos" class="carousel-control-prev" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Voltar</span>
    </a>
    <a href="#carouselCursos" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Avançar</span>
    </a>
</div>
<div class="col-12" ng-controller="CursosPageController as controller" ng-init="controller.init()">
    <div class="row">
        <div class="col-12">
            <div class="col-12">
                <h1 class="display-3 text-center mt-5">Cursos atuais</h1>
                <hr />
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="my-3 p-0" ng-repeat="curso in controller.cursos">
                        <div class="col-12">
                            <a href="#curso-{{curso.Id}}" class="btn btn-default p-0" data-toggle="collapse" aria-expanded="false" aria-controls="curso-{{curso.Id}}">
                                {{curso.Nome}}
                            </a>
                            <a href="#curso-{{curso.Id}}" class="btn btn-default float-right" data-toggle="collapse" aria-expanded="false" aria-controls="curso-{{curso.Id}}"><i class="fa fa-chevron-down"></i></a>
                            <div id="curso-{{curso.Id}}" class="collapse">
                                <div class="col-12 p-0 pr-5 mt-3 text-justify">
                                    <strong>Descrição: </strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
                                    <div class="col-12 p-0 text-right">
                                        <button class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Vista rápida"><i class="fa fa-eye"></i></button>
                                        <button class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Configurar curso"><i class="fa fa-cog"></i></button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                    <div class="my-3 p-0 text-center" ng-show="controller.cursos.length == 0">
                        <p>Não há cursos cadastrados no sistema!</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="col-12">
                        <div class="card" style="border: 0px">
                            <div class="card-header">
                                <h2 class="text-center">Novo Curso</h2>
                            </div>
                            <div class="card-body">
                                <form id="novoCursoFrm">
                                    <div class="form-group col-12">
                                        <div class="row">
                                            <div class="col-6 pl-0">
                                                <label class="control-label">Nome:</label>
                                                <input type="text" class="form-control" placeholder="Digite o nome do novo curso" />
                                            </div>
                                            <div class="col-6 pr-0">
                                                <label class="control-label">Público alvo:</label>
                                                <div class="col-12 p-0">
                                                    <select class="form-control">
                                                        <option selected>Todos</option>
                                                        <option>Adultos</option>
                                                        <option>Adolescentes</option>
                                                        <option>Homens</option>
                                                        <option>Mulheres</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Descrição:</label>
                                        <textarea class="form-control col-12" placeholder="Descreva o novo curso"></textarea>
                                    </div>
                                    <div class="col-12 pr-0">
                                        <button type="submit" class="btn btn-success float-right">Criar curso <i class="fa fa-check"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 mt-5">
            <div class="card shadow mr-2 ml-2">
                <div class="card-header bg-danger">
                    <h1 class="text-center" style="color: white">Turmas</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-right">
                            <label class="control-label mr-2">Filtro: </label>
                            <select class="form-control float-right" ng-model="controller.filtroTurmas">
                                <option value="">Selecione</option>
                                <option value="true" selected>Ativas</option>
                                <option value="false">Inativas</option>
                                <option value="">Todas</option>
                            </select>
                            <hr />
                        </div>
                        <div class="col-12 col-sm-3" ng-repeat="turma in controller.turmas | filter: { IsActive: controller.filtroTurmas }">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Curso: {{turma.NomeCurso}}</h5>
                                </div>
                                <div class="card-body">
                                    <div><b>Início:</b> {{turma.DataInicio}}</div>
                                    <div><b>Período:</b> {{turma.Periodo}}</div>

                                    <hr />
                                    <!--Disciplinas-->
                                    <div><a href="#turmaDisciplinas-{{turma.Id}}" class="btn btn-default p-0" data-toggle="collapse" aria-expanded="false" aria-controls="turmaDisciplinas-{{turma.Id}}"> <b>Disciplinas: ({{turma.Disciplinas.length}})</b></a><a href="#turmaDisciplinas-{{turma.Id}}" class="btn btn-default p-0 float-right" data-toggle="collapse" aria-expanded="false" aria-controls="turmaDisciplinas-{{turma.Id}}"><i class="fa fa-chevron-down"></i></a></div>
                                    <div id="turmaDisciplinas-{{turma.Id}}" class="collapse">
                                        <div class="col-12 p-0" ng-repeat="disciplina in turma.Disciplinas">
                                            <p>{{disciplina.Nome}}</p>
                                        </div>
                                    </div>
                                    <!--Alunos-->
                                    <div><a href="#turmaAlunos-{{turma.Id}}" class="btn btn-default p-0" data-toggle="collapse" aria-expanded="false" aria-controls="turmaAlunos-{{turma.Id}}"> <b>Alunos: ({{turma.Alunos.length}})</b></a><a href="#turmaAlunos-{{turma.Id}}" class="btn btn-default p-0 float-right" data-toggle="collapse" aria-expanded="false" aria-controls="turmaAlunos-{{turma.Id}}"><i class="fa fa-chevron-down"></i></a></div>
                                    <div id="turmaAlunos-{{turma.Id}}" class="collapse">
                                        <div class="col-12 p-0" ng-repeat="aluno in turma.Alunos">
                                            <p>{{aluno.PrimeiroNome}} {{aluno.SegundoNome}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@section scriptsSection {
    <script src="~/Scripts/App/cursos-page/cursos-page.controller.js"></script>
}