
    <div class="col-12 card mt-3" id="formBuscaDetalhada" style="display: none">
        <div>
            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Nome:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Idade:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Igreja:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Pastor:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Celular:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Nacionalidade:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    CEP:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Cidade:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Bairro:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Endereço:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Profissão:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    RG:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    UF:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    CPF:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    E-MAIL:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="float-left col-3">
                <label class=" control-label mt-2">
                    Data de nascimento:
                </label>
                <div class="col-8 form-group" style="padding-left:0;">
                    <input type="text" class="form-control" />
                </div>
            </div>

        </div>
        <div class="col-12 text-right mb-3 mr-3">
            <button class="btn btn-primary">Buscar</button>
        </div>
    </div>