
@{
    ViewBag.Title = "Aluno";
}
    <div class="col-12" ng-controller="AlunoPageController as controller" ng-init="controller.init()">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron bg-light">
                    <div class="col-12">
                        <h1 class="display-3 text-center">Alunos</h1>
                        <hr />
                        <p class="lead text-muted text-center">Adicione, atualize e exclua dados dos alunos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-info">Novo <i class="fa fa-plus"></i></button>
                <button class="btn btn-danger" id="buscaDetalhada">Busca detalhada <i class="fa fa-search"></i></button>
                <form class="form-inline float-right">
                    <div class="input-group">
                        <input ng-model="nomeBuscaAluno" class="form-control" type="text" placeholder="Digite o nome do aluno..." aria-label="Pesquisar aluno" style="width:500px" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 my-3 p-0">
            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Igreja</th>
                    <th>Idade</th>
                    <th>Ações</th>
                </tr>
                <tr ng-repeat="contato in controller.alunos | filter: { Nome: nomeBuscaAluno }">
                    <td>{{contato.Nome}}</td>
                    <td>{{contato.Igreja}}</td>
                    <td>{{contato.Idade}}</td>
                    <td style="width: 150px">
                        <a href="" class="btn btn-sm btn-info"><i class="fa fa-align-justify"></i></a>
                        <a href="" class="btn btn-sm btn-danger"><i class="fa fa-pencil-alt"></i></a>
                        <a href="" class="btn btn-sm btn-warning"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>


<div></div>

@section scriptsSection {
    <script src="~/Scripts/App/aluno-page/aluno-page.controller.js"></script>
    <script src="~/Scripts/Application/aluno.js"></script>
}